<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('wallpaper.jpg')%>)">

  <div class="container">
    <h1>Find a toothbrush near you!</h1>
    <%= link_to "Get started", toothbrushes_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="cards-landing">
    <div class="card-landing">
      <%= link_to '<i class="fa-solid fa-magnifying-glass"></i>'.html_safe, '/toothbrushes', class: 'btn-card-landing' %>
      <h1>Search & Book</h1>
      <p>Find the best toothbrushes in your area</p>
    </div>
    <div class="card-landing">
      <%= link_to '<i class="fa-solid fa-sack-dollar"></i>'.html_safe, '/toothbrushes/new', class: 'btn-card-landing' %>
      <h1>List & Earn</h1>
      <p>Make an yield on your toothbrush</p>
    </div>
    <div class="card-landing">
      <%= link_to '<i class="fa-solid fa-face-grimace"></i>'.html_safe, '#', class: 'btn-card-landing' %>
      <h1>Brush & Smile</h1>
      <p>Have fun</p>
    </div>
  </div>
</div>
<br>
  <%# <br>
  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4"><strong>Testimonials</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          Here some Brushers telling us how much enjoy WeBrush
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Maria Smantha</h5>
        <h6 class="text-primary mb-3">Web Developer</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>I used the same Toothbrush more than 20 times, and my mouth feels fresher than ever.Highly recomend to put yours and share with many.
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star-half-alt fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Lisa Cudrow</h5>
        <h6 class="text-primary mb-3">Graphic Designer</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>After I had my first experience with WeBrush, I couldn't stop sharing my Toothbrush and try new ones from many Brushers. Love WeBrush.
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">John Smith</h5>
        <h6 class="text-primary mb-3">Marketing Specialist</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>Every time I travel and I forget my toothbrush, now with WebBrush my life change.Thanks!
        </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section> %>
