<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('wallpaper.jpg')%>)">

  <div class="container">
    <h1>Find a toothbrush near you!</h1>
    <%= link_to "Book a Brush", toothbrushes_path, class: 'btn btn-info btn-lg' %>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="cards-landing">
    <div class="card-landing">
      <%= link_to '<i class="fa-solid fa-magnifying-glass"></i>'.html_safe, '/toothbrushes', class: 'btn-card-landing' %>
      <h1>Search & Book</h1>
      <p>Find the best brushes in your area</p>
    </div>
    <div class="card-landing">
      <%= link_to '<i class="fa-solid fa-sack-dollar"></i>'.html_safe, '/toothbrushes/new', class: 'btn-card-landing' %>
      <h1>Share & Earn</h1>
      <p>Create an income with your brush</p>
    </div>
    <div class="card-landing">
      <%= link_to '<i class="fa-solid fa-face-grimace"></i>'.html_safe, '#', class: 'btn-card-landing' %>
      <h1>Brush & Smile</h1>
      <p>Be hygienic and clean your teeth</p>
    </div>
  </div>
</div>
<br>

<div class="container">
  <h3 class="mb-4">Reviews of Brushers</h3>
  <div class="cards-landing">
    <div class="card-testimonials">
      <%= image_tag "alex.jpg", class: 'avatar-brush' %>
      <h2>Alexexander Costa</h2>
      <h3>Web Developer</h3>
      <p><i class="fas fa-quote-left pe-2"></i>I used the same brush more than 20 times, and my mouth feels fresher than ever. I highly recommend to share yours with others. <i class="fas fa-quote-left pe-2"></i></p>
    </div>
    <div class="card-testimonials">
      <%= image_tag "alex.jpg", class: 'avatar-brush' %>
      <h2>Alexexander Costa</h2>
      <h3>Web Developer</h3>
      <p><i class="fas fa-quote-left pe-2"></i>I used the same brush more than 20 times, and my mouth feels fresher than ever. I highly recommend to share yours with others. <i class="fas fa-quote-left pe-2"></i></p>
    </div>
    <div class="card-testimonials">
      <%= image_tag "alex.jpg", class: 'avatar-brush' %>
      <h2>Alexexander Costa</h2>
      <h3>Web Developer</h3>
      <p><i class="fas fa-quote-left pe-2"></i>I used the same brush more than 20 times, and my mouth feels fresher than ever. I highly recommend to share yours with others. <i class="fas fa-quote-left pe-2"></i></p>
    </div>
  </div>
</div>
<%#
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Reviews of Brushers</h3>
    </div>
  </div>
<br>

  <div class="row text-center d-flex align-items-stretch">
    <div class="col-md-4 mb-5 mb-md-5 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #9d789b;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="assets/andre.jpg"
            class="rounded-circle img-fluid img-thumbnail" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Andre Bakiewicz</h4>
          <h6 class="text-primary mb-3">Web Developer</h6>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>I used the same brush more than 20 times, and my mouth feels fresher than ever. I highly recommend to share yours with others. <i class="fas fa-quote-left pe-2"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-5 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #7a81a8;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="assets/victor.jpg"
            class="rounded-circle img-fluid img-thumbnail" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Victor Marxen</h4>
          <h6 class="text-primary mb-3">Student</h6>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>After I had my first experience with WeBrush, I couldn't stop rent other peoples Toothbrush. I love WeBrush. <i class="fas fa-quote-left pe-2"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: rgba(108,133,150,255);"></div>
        <div class="avatar mx-auto bg-white">
          <img src="assets/alex.jpg"
            class="rounded-circle img-fluid img-thumbnail" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Alexander Costa</h4>
          <h6 class="text-primary mb-3">Musican</h6>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Every time I travelled and I forgot my toothbrush, now with WebBrush it changes. <i class="fas fa-quote-left pe-2"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> %>
