<br>
<div class="container">
 <h2>Find your Brush</h2>
</div>

<div class="cards-container">
  <div class="cards">
    <% @toothbrushes.each do |toothbrush| %>
      <div class="card-toothbrush">
        <%= link_to toothbrush_path(toothbrush.id) do %>
          <% if !toothbrush.photos.first.nil? %>
            <div class="toothbrush-background-image" style="background-image: url('<%= cl_image_path toothbrush.photos.first.key %>');"></div>
          <% else %>
            <div class="toothbrush-background-image" style="background-image: url(<%= asset_path("no_image.jpg") %>);"></div>
          <% end %>
        <% end %>

        <div class="card-toothbrush-infos">
          <div>
            <h2><%= toothbrush.title %></h2>
            <p><%= toothbrush.location %></p>
            <p><%= toothbrush.category %></p>
          </div>
          <h2 class="card-toothbrush-pricing">$ <%= toothbrush.daily_price %></h2>
          <%# <i class="fa-solid fa-heart"></i> %>
          <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, '#', class: 'btn-like' %>
        </div>
      </div>
    <% end %>
  </div>
  <div id='map-brush' style="width: 40%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<br>

<div class="container">
  <%= link_to "Create an Offer", new_toothbrush_path, class: 'btn btn-info' %>
</div>

