<br>
<% if @my_reservations.blank? && @my_bookings.blank? %>
  <div class="container">
    <h4>You have no bookings or reservation requests</h4>
  </div>
<% end %>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Reservation requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Bookings</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <% if @my_reservations.any? %>
            <div class="reservations">
              <% @my_reservations.each do |res| %>
                <div class="reservation">
                  <% if res.toothbrush.photos.any? %>
                    <%= image_tag cl_image_path res.toothbrush.photos.first.key %>
                  <% else %>
                    <%= image_tag "no_image.jpg" %>
                  <% end %>
                  <div class="reservation-content">
                    <p><%= res.toothbrush.title %></p>
                    <p>From: <small><%= res.start_date.strftime("%d/%m/%Y %H:%M") %></small>
                      to: <small><%= res.end_date.strftime("%d/%m/%Y %H:%M") %></small></p>
                    <p><%= res.toothbrush.location %></p>
                  </div>
                  <div class="reservation-actions" data-controller='confirm-reservation' data-action="click">
                    <% if res.confirmed? %>
                      <%= link_to '<i class="fa-solid fa-calendar-check confirmed"></i>'.html_safe, reservation_path(res), data: {turbo_method: :put, turbo_confirm: "Are you sure you want to cancel this reservation?"}%>
                    <% else %>
                      <%= link_to '<i class="fa-solid fa-calendar-check not-confirmed"></i>'.html_safe, reservation_path(res), data: {turbo_method: :put, turbo_confirm: "Are you sure you want to confirm this reservation?"}%>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <% if @my_bookings.any? %>
        <div class="reservations">
          <% @my_bookings.each do |book| %>
            <div class="reservation">
              <% if book.toothbrush.photos.any? %>
                <%= image_tag cl_image_path book.toothbrush.photos.first.key %>
              <% else %>
                <%= image_tag "no_image.jpg" %>
              <% end %>
            <div class="reservation-content">
                <p><%= book.toothbrush.title %></p>
                <p>From: <small><%= book.start_date.strftime("%d/%m/%Y %H:%M") %></small>
                  to: <small><%= book.end_date.strftime("%d/%m/%Y %H:%M") %></small></p>
                <p><%= book.toothbrush.location %></p>
              </div>
              <div class="reservation-actions" data-controller='confirm-reservation'>
                <% if book.confirmed? %>
                  <%= link_to '<i class="fa-solid fa-calendar-check confirmed"></i>'.html_safe, reservation_path(book), data: {turbo_method: :put, turbo_confirm: "Are you sure you want to cancel this booking?"}%>
                <% else %>
                  <i class="fa-solid fa-calendar-check not-confirmed"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
