<div class="form-login">
  <%= simple_form_for [@toothbrush, @reservation] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-labels">
      Booking for <%= @toothbrush.title %> at <%= @toothbrush.location %>
    </div>

    <div class="form-inputs">
      <%= f.input :start_date %>
    </div>

    <div class="form-inputs">
      <%= f.input :end_date %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
